#intro {
  background-image: url("images/one.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 12em;
  width: auto;
  background-color: #B0C4DE;
  margin-top: -5px;
}
#up{
  width: 30%;
  padding: 15px;
  height: auto;
  background-color: #D3D3D3;
  position: relative;
  top: -15px;
  margin-left: 10px;
  color: #000080;

}
#up:hover{
    color: #800000;
}
nav{
  padding: 20px;
  background-color: #4682B4;
  text-align: right;
  white-space: nowrap;
}
nav a{
  text-decoration: none;
  padding: inherit;
  color: white;
  background-color: #191970;
}
nav a:hover{
  background-color: #4513;
  transition: 300ms;
  color: #DB7093;
}
.about{
  width: 70%;
  border: 1px solid #D8BFD8;
  height: auto;
  margin: 5px;
  background-color: #F5F5F5;
  font-family: sans-serif;
  display: inline-block;
}
.about img{
  height: 200px;
  width: 30%;
  float: left;
  margin: 2px;
  border: 1px solid white;
  border-radius: 100px;
}
.about  h4,ul,p{
margin: 20px;
}
.about h4,h2{
  color: #4682B4;

}
.body{
  margin: auto;
  width: 80%;
  background-color: #F5F5F5;
  border: 1px solid #D8BFD8;
}
.body h2{
  text-align: center;
}
@media screen and (min-width:500px) {
.body img{
  height: 500px;
  width: auto;
  margin: auto;
}
@media screen and (max-width:600px) {
  .body img{
    height: 250px;
    width: auto;
}
}
footer{
  text-align: center;
  background-color:  #4682B4;
  padding: 3px;

}
.body a:hover{
  color:#DB7093;
  text-transform: 300ms;
  background-color: #5412;

}
/*.body a:visited{
  color: #841231;
}*/
.body h3{
  color: #687;
}
.cards{
  float: right;
  width:26%;
  /*background-color: #8445;*/
  margin: 2px;

}
.links h4{
color: #245;
}
.links{
  background-color: #FFEFD5;
  border: 1px solid #FFFFF0;
  box-shadow: 3px 3px 5px rgb(54,68,41);
  width: auto;
  margin: auto;
}
.links a{
  display: block;
  text-align: center;
  line-height: 20px;
  margin: 3px;
  text-decoration: none;;

}
.links a:hover{
  text-decoration: underline;;
  color: black;
  transition: 300ms;
}
.Contacts h4{
color: #245;
}
.Contacts{
  margin: 5px;
  background-color: #FFEFD5;
  border: 1px solid #FFFFF0;
  box-shadow: 3px 3px 5px rgb(54,68,41);
  width: auto;
}
